.history-club {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  color: var(--color-yellow);

}

.navigation {
  padding-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;


  @include tablet {
    padding-top: 30px;
  }

  & p {
    color: var(--color-yellow);
  }

  & p, a {
    font-weight: 400;

    @include mobile {
      font-size: 10px;
    }
  }
}
