.about {

  &__body {
    @include mobile {
      order: 2;
    }
  }

  @include tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding-top: 48px;
  }


  display: flex;
  justify-content: space-between;
  padding-top: 131px;
  font-size: 24px;

  @include mobile {
    flex-direction: column;

  }

  &__description {
    max-width: 550px;
    margin: 0;

    @include  desktop {
      max-width: 440px;
    }

    @include tablet {
      max-width: 340px;
    }

    @include mobile {
      max-width: 352px;
      padding-top: 63px;
    }
  }

  &__click {
    border: 3px solid var(--color-yellow);
    width: 340px;
    height: 78px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;

    @include desktop {
      border-bottom: 2px solid var(--color-yellow);
      width: 244px;
      height: 58px;
    }

    @include tablet {
      width: 200px;
      height: 45px;
    }

    @include mobile {
      border-bottom: 2px solid var(--color-yellow);
      width: 151px;
      height: 33px;
      margin-top: 23px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    height: 100%;

  }
}

.slider {
  max-width: 385px;
  overflow: hidden;


  @include desktop {
    max-width: 305px;
  }

  @include mobile {
    max-width: 385px;
  }
}

.slider-line {
    display: flex;
    transition: all ease 0.5s;

  @include desktop {
    max-width: 915px;
    max-height: 342px;
  }
  @include mobile {
    max-height: 431px;
    max-width: 1155px;
  }
}

.slider-click {
  display: flex;
  gap: 45px;
  margin-top: 22px;
  margin-right: auto;
}

.slider-click img {
  @include desktop {
    width: 20px;
  }
}

.slider__block {
  order: 1;
}

.slider__block-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}