footer {
  padding-top: 250px;
  padding-bottom: 150px;

  @include desktop {
    padding-inline: 66px !important;
  }

  @include tablet {
    padding-inline: 40px !important;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  @media (max-width: 1840px) {
    padding-inline: 86px;
  }


  @include mobile {
    padding-inline: 15px !important;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.title--gap {
  padding-bottom: 46px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.navigation-list,
.contacts-list, {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.block-info ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 27px;

  @include mobile {
    gap: 30px;
  }
}

.block-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;

  @include tablet {
    width: 130px;
    padding: 0;
  }
}

.social {
  display: flex;
  justify-content: space-between;
}

li {
  font-weight: 500;
  color: var(--color-gray);
}

a > span {
  color: #ffffff;
}

.footer-icon, .vk {

  @include desktop {
    width: 36px;
  }

  @include tablet {
    width: 30px;
  }

  @include mobile {
    display: none;
  }
}

.mobile--hidden {

  @include mobile {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  height: 150px;
  padding-top: 20px;
}
.dropdown-bottom {
  height: 200px;
}

.show {display:block;}

.button-arrow {
  font-weight: 500;
  display: flex;
  gap: 15px;
}

.footer-mobile {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

