/* Общие настройки скроллбара */
::-webkit-scrollbar {
  width: 4px; /* Узкий вертикальный скроллбар */
  height: 4px; /* Узкий горизонтальный скроллбар */
}

/* Убираем фон трека */
::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный трек */
}

/* Настраиваем бегунок */
::-webkit-scrollbar-thumb {
  background: #555555; /* Цвет бегунка */
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 300;
  font-size: 19px;
  font-family: "Gotham Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  line-height: normal;
  overflow-x: hidden !important;
}

a, li {
  line-height: 1.3em;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  @include fluid-text(17, 13);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3em;
  font-weight: bold;
  text-shadow: #000000 0 0 17px;
  @include fluid-text(26, 13)
}

p {
  line-height: 1.3em;
  @include fluid-text(22, 13);
  font-weight: 400;
}

b {
  line-height: 1.3em;
  font-weight: 500;
}

button > a, button {
  line-height: 1.3em;
  font-weight: 500;
  @include fluid-text(24, 13);
}

.button--hover {
  border-bottom: 3px solid transparent;
  color: var(--color-white);
}

.button--hover:hover {
  border: 3px solid var(--color-white);
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-yellow);
}

.contacts-list a:hover {
  color: var(--color-gray);
}

.main {
  overflow-x: hidden;
}

[data-aos] {
  transform-origin: center center;
  max-width: 100%; /* Ограничение ширины */
}

[data-aos] {
  overflow-anchor: none;
}

