.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2) !important;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include mobile {
    max-width: calc(var(--container-width-mobile) + var(--container-padding-x-mobile) * 2) !important;
    margin-inline: auto;
    padding-inline: var(--container-padding-x-mobile);
  }

  @include desktop {
    padding-inline: 66px !important;
  }

  @media (max-width: 1840px) {
    padding-inline: 86px;
  }
}
