.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2) !important;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  overflow-x: hidden;

  @include desktop {
    padding-inline: 66px !important;
  }

  @include tablet {
    padding-inline: 40px !important;
  }

  @media (max-width: 1840px) {
    padding-inline: 86px;
  }


  @include mobile {
    padding-inline: 15px !important;
  }
}
