.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2) !important;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include mobile {
    max-width: calc(var(--container-width-mobile) + var(--container-padding-x-mobile) * 2) !important;
    margin-inline: auto;
    padding-inline: var(--container-padding-x-mobile);
  }
}
