:root {
  --color-white: #ffffff;
  --color-dark: #141514;
  --color-gray: #9A9797;
  --color-yellow: #FFEA00;

  --container-width:auto;
  --container-padding-x: 300px;

  --container-width-mobile:auto;
  --container-padding-x-mobile: 22px;
}