@charset "UTF-8";
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth !important;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
}

:root {
  --color-white: #ffffff;
  --color-dark: #151615;
  --color-gray: #9A9797;
  --color-yellow: #FFEA00;
  --container-width:auto;
  --container-padding-x: 200px;
  --container-width-mobile:auto;
  --container-padding-x-mobile: 22px;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Общие настройки скроллбара */
::-webkit-scrollbar {
  width: 4px; /* Узкий вертикальный скроллбар */
  height: 4px; /* Узкий горизонтальный скроллбар */
}

/* Убираем фон трека */
::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный трек */
}

/* Настраиваем бегунок */
::-webkit-scrollbar-thumb {
  background: #555555; /* Цвет бегунка */
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 300;
  font-size: 19px;
  font-family: "Gotham Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  line-height: normal;
  overflow-x: hidden !important;
}

.about__click {
  font-size: clamp(12px, 1.6666666667vw, 24px);
}

a, li {
  line-height: 1.3em;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: clamp(13px, 1.1805555556vw, 17px);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3em;
  font-weight: bold;
  text-shadow: #000000 0 0 17px;
  font-size: clamp(13px, 1.8055555556vw, 26px);
}

p {
  line-height: 1.3em;
  font-size: clamp(13px, 1.5277777778vw, 22px);
  font-weight: 400;
}

b {
  line-height: 1.3em;
  font-weight: 500;
}

button > a, button {
  line-height: 1.3em;
  font-weight: 500;
  font-size: clamp(13px, 1.6666666667vw, 24px);
}

.button--hover {
  border-bottom: 3px solid transparent;
  color: var(--color-white);
}
@media (max-width: 1023px) {
  .button--hover button:active {
    border-bottom: 3px solid transparent;
    color: var(--color-white);
  }
}

.button--hover:hover {
  border: 3px solid var(--color-white);
  color: var(--color-yellow);
}
@media (max-width: 1023px) {
  .button--hover:hover button:active {
    border: 3px solid var(--color-white);
    color: var(--color-yellow);
  }
}

a:hover {
  color: var(--color-yellow);
}
@media (max-width: 1023px) {
  a:hover button:active {
    color: var(--color-yellow);
  }
}

.contacts-list a:hover {
  color: var(--color-gray);
}

.main {
  overflow-x: hidden;
}

[data-aos] {
  transform-origin: center center;
  max-width: 100%; /* Ограничение ширины */
}

[data-aos] {
  overflow-anchor: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2) !important;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  overflow: hidden !important;
}
@media (max-width: 1840px) {
  .container {
    padding-inline: 180px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding-inline: 66px !important;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-inline: 40px !important;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 10px !important;
  }
}

.header--fixed {
  padding-top: 0 !important;
  background-color: rgba(20, 21, 20, 0.8);
}
@media (max-width: 1023px) {
  .header--fixed {
    transition: all 0.3s ease-in !important;
  }
}

@media (max-width: 1023px) {
  .header--scroll {
    transition: all 0.3s ease-in !important;
  }
}

.header {
  padding-top: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 15px;
  }
}
@media (max-width: 1023px) {
  .header {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}
.header__inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 70px;
}
@media (max-width: 1840px) {
  .header__inner {
    padding-inline: 86px;
  }
}
@media (max-width: 1280px) {
  .header__inner {
    height: 80px;
    padding-inline: 50px;
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .header__inner {
    padding-inline: 22px;
    height: 64px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    padding-inline: 22px;
    height: 52px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-left: auto;
}
@media (max-width: 1280px) {
  .header__list {
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .header__list {
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .header__list {
    font-size: 10px;
    gap: 40px;
  }
}
.header__map {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-gray);
}
@media (max-width: 1023px) {
  .header__map {
    gap: 10px;
  }
}

.header__map span {
  color: var(--color-gray);
}
.header__map span:hover {
  color: var(--color-yellow);
}

.header__map span {
  border-bottom: 1px dashed var(--color-gray);
  padding-bottom: 3px;
}
.header__map span:hover {
  border-bottom: 1px dashed var(--color-yellow);
}

.img__body {
  background-image: url("../images/preview.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1280px) {
  .img__body {
    max-height: 857px;
  }
}
@media (max-width: 1023px) {
  .img__body {
    max-height: 857px;
    background-position: center;
  }
}
@media (max-width: 767px) {
  .img__body {
    max-height: 857px;
    background-position: center;
  }
}
.img__text {
  text-shadow: #000000 0 0 17px;
}

.welcome {
  padding-top: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .welcome {
    padding-top: 80px;
  }
}
@media (max-width: 1023px) {
  .welcome {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .welcome {
    padding-top: 28px;
  }
}

@media (max-width: 1023px) {
  .number {
    display: none;
  }
}

.logo {
  width: auto;
  height: 112px;
  background-color: transparent;
}
@media (max-width: 1280px) {
  .logo {
    height: 100px;
    width: auto;
  }
}
@media (max-width: 1023px) {
  .logo {
    height: 80px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .logo {
    height: 68px;
    width: 68px;
  }
}

.map {
  max-width: 23px;
  max-height: 19px;
}
@media (max-width: 1023px) {
  .map {
    max-width: 16px;
    max-height: 20px;
  }
}
@media (max-width: 767px) {
  .map {
    max-width: 12px;
    max-height: 16px;
  }
}

@media (max-width: 1023px) {
  .tablet--hidden {
    display: none;
  }
}

.competitions {
  text-decoration: line-through;
}

body.lock {
  overflow: hidden;
}

.burger {
  width: 44px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;
  z-index: 5;
}
.burger::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}
.burger.active {
  height: auto;
}
@media (max-width: 1023px) {
  .burger {
    width: 46px;
    height: 26px;
  }
}
@media (max-width: 767px) {
  .burger {
    width: 35px;
    height: 22px;
  }
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}
.burger span.active {
  position: absolute;
  transform: rotate(-45deg);
}
.burger span.active:nth-child(2) {
  transform: rotate(45deg);
}
.burger span.active:nth-child(3) {
  transform: scale(0);
}
.burger span:nth-child(2) {
  background-color: var(--color-yellow);
}
.burger span:nth-child(3) {
  width: 22px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .burger span:nth-child(3) {
    width: 17px;
  }
}
@media (max-width: 1023px) {
  .burger span {
    height: 3px;
  }
}
@media (max-width: 767px) {
  .burger span {
    height: 2px;
  }
}

.item__link {
  display: inline-flex;
  flex-direction: column;
  gap: 50px;
  margin-left: auto;
  padding-top: 350px;
}
@media (max-width: 1023px) {
  .item__link {
    padding-top: 250px;
    gap: 43px;
  }
}
@media (max-width: 767px) {
  .item__link {
    padding-top: 200px;
    gap: 30px;
  }
}
.item__link a {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.item__link a:hover {
  color: var(--color-yellow);
}
@media (max-width: 1280px) {
  .item__link a {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .item__link a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .item__link a {
    font-size: 16px;
  }
}

.menu__body {
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/menu.avif");
  background-size: cover;
  transition: all 0.5s ease;
}

.menu__body.active {
  transform: translateY(100%);
  overflow: auto !important;
}

.info__block {
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 1280px) {
  .info__block {
    font-size: 16px;
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .info__block {
    font-size: 14px;
    gap: 26px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .info__block {
    font-size: 12px;
    gap: 20px;
  }
}
.info__block a {
  font-weight: 400;
}

.menu__info {
  display: flex;
  align-items: center;
  padding-top: 200px;
}
@media (max-width: 1023px) {
  .menu__info {
    padding-top: 150px;
  }
}

.span--yellow {
  color: var(--color-yellow);
}

.block__social-header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 145px;
}
.block__social-header svg {
  width: 44px;
}
@media (max-width: 1280px) {
  .block__social-header {
    padding-left: 80px;
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .block__social-header {
    padding-left: 153px;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .block__social-header {
    padding-left: 53px;
    gap: 35px;
  }
}

.opacity {
  opacity: 0.5;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 131px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .about__body {
    order: 2;
  }
}
@media (max-width: 1023px) {
  .about {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .about {
    padding-top: 48px;
  }
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
  }
}
.about__description {
  max-width: 550px;
  margin: 0;
}
@media (max-width: 1280px) {
  .about__description {
    max-width: 440px;
  }
}
@media (max-width: 1023px) {
  .about__description {
    max-width: 340px;
  }
}
@media (max-width: 767px) {
  .about__description {
    max-width: 352px;
    padding-top: 63px;
  }
}
.about__click {
  border: 3px solid var(--color-yellow);
  width: 340px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
@media (max-width: 1280px) {
  .about__click {
    border: 2px solid var(--color-yellow);
    width: 244px;
    height: 58px;
  }
}
@media (max-width: 1023px) {
  .about__click {
    width: 200px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .about__click {
    border: 2px solid var(--color-yellow);
    width: 151px;
    height: 33px;
    margin-top: 23px;
  }
}
.about__block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slider {
  max-width: 385px;
  max-height: 431px;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .slider {
    max-width: 260px;
  }
}
@media (max-width: 767px) {
  .slider {
    max-width: 385px !important;
  }
}

.slider-line {
  display: flex;
  transition: all ease 0.5s;
}
@media (max-width: 1280px) {
  .slider-line {
    max-width: 915px;
    max-height: 342px;
  }
}
@media (max-width: 767px) {
  .slider-line {
    max-height: 625px;
    max-width: 100%;
  }
}

.slider-click {
  display: flex;
  gap: 45px;
  margin-top: 22px;
  margin-right: auto;
  color: #9A9797;
}
.slider-click .slider-click img, .slider-click svg {
  width: 27px;
}
@media (max-width: 1280px) {
  .slider-click .slider-click img, .slider-click svg {
    width: 20px;
  }
}
@media (max-width: 767px) {
  .slider-click .slider-click img, .slider-click svg {
    width: 22px;
  }
}

.slider__block {
  order: 1;
}

.slider__block-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding-top: 232px;
}
@media (max-width: 1280px) {
  .hero {
    padding-top: 180px;
  }
}
@media (max-width: 1023px) {
  .hero {
    padding-top: 140px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 90px;
  }
}
.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-yellow);
}
.hero__block {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .hero__block {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .hero__block {
    padding-top: 63px;
  }
}

.block__quality-list {
  display: flex;
  align-items: center;
  gap: 31px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .block__quality-list {
    gap: 12px;
  }
}

.block-one span {
  color: var(--color-yellow);
  font-weight: 500;
}

.block-one p {
  font-weight: 500;
}

.block-text {
  max-width: 520px;
}
@media (max-width: 1280px) {
  .block-text {
    max-width: 385px;
  }
}

.block__quality {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media (max-width: 767px) {
  .block__quality .about__click {
    margin-top: auto;
  }
}
@media (max-width: 767px) {
  .block__quality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .block__quality {
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .block__quality {
    gap: 42px;
  }
}
.block__quality-list img {
  width: 88px;
}
@media (max-width: 1023px) {
  .block__quality-list img {
    width: 65px;
  }
}
@media (max-width: 767px) {
  .block__quality-list img {
    width: 45px;
  }
}

.block__description {
  display: grid;
}

.hero__block {
  display: flex;
}

.button-hidden {
  display: none;
}
@media (max-width: 767px) {
  .button-hidden {
    display: block;
  }
}

@media (max-width: 767px) {
  .button-hero {
    display: none;
  }
}

@media (max-width: 767px) {
  .special {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

.block__text-hidden {
  display: block;
}
@media (max-width: 767px) {
  .block__text-hidden {
    display: none;
  }
}

.block__text-mobile {
  display: none;
}
@media (max-width: 767px) {
  .block__text-mobile {
    display: block;
    padding-top: 63px;
  }
}

.mentor {
  overflow: hidden;
  padding-top: 230px;
}
@media (max-width: 767px) {
  .mentor {
    padding-top: 90px;
  }
}
.mentor__title {
  display: flex;
  justify-content: center;
  color: var(--color-yellow);
  margin-bottom: 190px;
}
@media (max-width: 1280px) {
  .mentor__title {
    margin-bottom: 150px;
  }
}
@media (max-width: 767px) {
  .mentor__title {
    margin-bottom: 60px;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.swiper-button-next {
  background-image: url("../images/slider/next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
@media (max-width: 767px) {
  .swiper-button-next {
    width: 20px !important;
  }
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../images/slider/back.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
@media (max-width: 767px) {
  .swiper-button-prev {
    width: 20px !important;
  }
}

@media (max-width: 1280px) {
  .small {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .small {
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .flex {
    width: 20px;
  }
}

footer {
  padding-top: 250px;
  padding-bottom: 150px;
}
@media (max-width: 1280px) {
  footer {
    padding-inline: 66px !important;
  }
}
@media (max-width: 1023px) {
  footer {
    padding-inline: 40px !important;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1840px) {
  footer {
    padding-inline: 86px;
  }
}
@media (max-width: 767px) {
  footer {
    padding-inline: 15px !important;
    padding-top: 80px;
    padding-bottom: 20px;
  }
}

.title--gap {
  padding-bottom: 46px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.navigation-list,
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__text ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media (max-width: 767px) {
  .info__text ul {
    gap: 30px;
  }
}

.block-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
}
@media (max-width: 1023px) {
  .block-links {
    width: 130px;
    padding: 0;
  }
}

.social {
  display: flex;
  justify-content: space-between;
}

li {
  font-weight: 500;
  color: var(--color-gray);
}

a > span {
  color: #ffffff;
}

@media (max-width: 1280px) {
  .footer-icon, .vk {
    width: 36px;
  }
}
@media (max-width: 1023px) {
  .footer-icon, .vk {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .footer-icon, .vk {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile--hidden {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  height: 140px;
  padding-top: 20px;
  transition: max-height 0.3s ease-in-out; /* Делаем плавное выкатывание */
}

.dropdown-bottom {
  height: 170px;
}

.show {
  display: block;
}

.button-arrow {
  font-weight: 500;
  gap: 20px;
}

.footer-mobile {
  display: none;
}
@media (max-width: 767px) {
  .footer-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.block__info ul {
  padding: 0;
}
.block__info li {
  padding-bottom: 20px;
  text-decoration: none;
}

.button-arrow svg {
  color: var(--color-yellow);
}

.rotate {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

svg {
  transition: transform 0.3s ease;
}

svg.arrow-rotate {
  transform: rotate(180deg);
  pointer-events: none;
}

.gap--small {
  gap: 5px;
}

.rotate {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.arrow {
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M1.5 2.3L6 6.9L10.6 2.3L12 3.7L6 9.7L0 3.7L1.5 2.3Z" fill="%23FFEA00"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

.open .arrow {
  transform: rotate(180deg);
}

.history-club {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
  color: var(--color-yellow);
}
@media (max-width: 1280px) {
  .history-club {
    padding-top: 200px;
  }
}
@media (max-width: 1023px) {
  .history-club {
    padding-top: 150px;
  }
}
@media (max-width: 767px) {
  .history-club {
    padding-top: 100px;
  }
}

.navigation {
  padding-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1023px) {
  .navigation {
    padding-top: 30px;
  }
}
.navigation p {
  color: var(--color-yellow);
}
.navigation p, .navigation a {
  font-weight: 400;
}
@media (max-width: 767px) {
  .navigation p, .navigation a {
    font-size: 10px;
  }
}

.body {
  padding-inline: 100px;
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .body {
    padding-top: 120px;
    padding-inline: 50px;
  }
}
@media (max-width: 1023px) {
  .body {
    padding-top: 80px;
    padding-inline: 50px;
  }
}
@media (max-width: 767px) {
  .body {
    padding-top: 40px;
    padding-inline: 0;
  }
}
.body__list {
  display: grid;
  gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1023px) {
  .body__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .body__list {
    grid-template-columns: 1fr;
  }
}
.body__list img {
  box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.7);
}
.body__list__item {
  width: 100%;
}

.display--none {
  visibility: hidden;
}
@media (max-width: 1023px) {
  .display--none {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
